{% extends 'adminindex.html' %}

{% block content %}

    <h1>Payment Status</h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Timestamp</th>
            
            
        </tr>
    {% if user_pay %}
        <tr>
            {% for Payments  in user_pay %}
            <tr> 
               <td>{{Payments.user}}</td>
               <td>{{ Payments.amount}}</td> 
                <td>{{Payments.timestamp }}</td>
            </tr>
            {% endfor %}
        
    {% else %}
        <p>No payment found.</p>
        </tr>
    {% endif %}
</table>
{% endblock %}